#header a{
    padding:20px;
    color: white;
}
#header .dropdown-menu{
    background-color: #76c893;
    
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a:hover {
    background-color: #64ac7d !important;

}
    
#header .navbar{
    background-color: #76c893 !important;
}

#intro{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #6cda85c0,rgba(0, 128, 128, 0.349)), url('img/img2.jpg');
    background-size: cover;
    color: white;
}
#intro h1{
    margin-bottom: 50px;
}
#intro a{
    background-color: #34a0a4;
}
#intro em{
    color: rgb(189, 247, 95);
    font-weight: bold;
}
.section-title{
    padding-bottom: 30px;
    text-align: center;
}
section{
    padding: 20px 15%;
}
#dates{
color: red;
}
#about-us{
    background-color: #fefae0;
}
.service{
    margin: 20px 0px;
}
.service .icon{
    font-size: 3em;
    color: green;
    margin-bottom: 10px;
}
#features p{
    font-size: 25px;
}
.nav-item{
    margin: 10px;
}
.nav-pills .nav-link a{
    padding: 15px;
}
.nav-pills .nav-link.active{
    background-color: teal;
}
#sponsors{
    justify-content: center;
}
.carousel-inner img {
    height: 300px;
    margin: auto;
    object-fit: contain;
}
.carousel-control-prev-icon::after {
    content: '<<';
    font-size: 55px;
    color: black;
  }
  .carousel-control-next-icon:after
{
  content: '>>';
  font-size: 55px;
  color: black;
}

#numbers{
    background-color: #52b69a;
    color: white;
    text-align: center;
}
#numbers .info{
    font-size: 3em;
}
#work{
    background-color: #fefae0;
}
#donations{
    background-color: #fefae0;
} 
.row-footer, .col-footer {
    background-color: #76c893;
    justify-content: center;
}
.col-footer a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    
}
.col-footer a:hover,
i:hover,
h4:hover {
  color: green;
  transition: ease 0.4s;
}

.col-footer i {
  padding: 0 10px;
  cursor: pointer;
}
.name-footer{
    margin: 0px 20px;
    padding: 20px;
}
#donations form{
      max-width: 600px;
      margin: 20px auto;
      text-align: center;
}
#submit{
    margin: 10px;
}
#spanResult{
    font-size: 3em;
    color: green;
    margin: 10px;
}

#map{
      padding: 0px;
    }